<div class="col-md-8">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Task Score</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>Titulo</td>
                            <td>Nota</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="score in taskScoreList.scores track by $index">
                            <td>{{score.task}}</td>
                            <td>{{score.score}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
